.logo-img {
  height: auto;
  width: 50%;
}

.sidebar-container {
  height: 100%;
  width: 280px;
  box-shadow: 0 3px 5px var(--bs-gray), 0 5px 17px var(--bs-gray);
}
.logo-wrapper {
  height: 68px;
  width: auto;
  padding: 1rem 0 !important;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: var(--bs-nav-pills-link-active-bg);
}
.nav-container {
  height: 100%;
  background-color: var(--bs-primary);
}
.nav-item a:hover,
.nav-item a.active {
  background-color: #fff;
  color: var(--bs-primary) !important;
}
.offcanvas-body {
  height: 100%;
}
.navbar-toggler {
  border-color: var(--bs-border-color);
}