<div [ngClass]="{'pr-3 pl-3 header-container': !isMobile, 'mobile-container pe-0 ps-0': isMobile}">
  <div [ngClass]="{'row': !isMobile, 'd-flex justify-content-between align-items-center': isMobile}">
    <ng-content></ng-content>
    <div [ngClass]="{'col-md-8': !isMobile}">
      <div #searchWrapper [ngClass]="{'search-wrapper': !isMobile}" class="position-relative">
        <input
          type="text"
          class="form-control dropdown"
          placeholder="Search Patient/Staff" [(ngModel)]="text" (ngModelChange)="onSearchChange($event)"
        />
        @if (showSearchSection) {
          <div class="search-content-wrapper border dropdown-menu w-100 d-block">
            @if (searchList?.length) {
              <ul class="p-0 mb-0">
                <li *ngFor="let item of searchList" class="dropdown-item cursor-pointer d-flex justify-content-between text-capitalize" (click)="goToRoute(item)">
                  <div>
                    {{item?.firstName}} {{item?.lastName}}
                  </div>
                  <div>
                    <strong>{{item?.type}}</strong>
                  </div>
                </li>
              </ul>
            }
            @if (!searchList?.length) {
              <ul class="d-flex justify-content-between p-0 mb-0">
                <li class="dropdown-item cursor-pointer d-flex justify-content-between">
                  <p class="mb-0">No record found.</p>
                </li>
              </ul>
            }
          </div>
        }
      </div>
    </div>
    <div class="d-flex justify-content-end gap-4" [ngClass]="{'col-md-4': !isMobile}">
      <div class="dropdown notofication-wrapper position-relative btn" [ngClass]="{'d-none': isMobile}" id="notificationDropdown"
       data-bs-toggle="dropdown"
       aria-expanded="false">
        <i class="bi bi-bell-fill" [ngClass]="{'text-primary': !isMobile, 'text-white': isMobile}"></i>
        @if (notificationList?.length) {
        <span class="notificationCount"
          >{{ notificationList?.length > 9 ? 9 : notificationList?.length }}
          @if(notificationList?.length > 9) {
          <span>+</span>
          }
        </span>
        }
      </div>
      <div class="dropdown-menu notification-menu dropdown-menu-end" aria-labelledby="notificationDropdown">
        <h3 class="ps-3 pe-3 border-bottom pb-3 pt-2 position-relative">Notifications
          @if (notificationList?.length) {
            <a class="mark-all-read-notification cursor-pointer" (click)="markAllAsRead(true)">Mark all as read</a>
          }
        </h3>
        <ul class="notification-body border-bottom">
          <li class="dropdown-item cursor-pointer text-ellipsis" *ngFor="let item of notificationList" (click)="viewNotification(item)" title="{{item?.firstName}} {{item?.lastName}}">
            {{item.message}} - {{item?.firstName}} {{item?.lastName}}
            <p class="fw-light text-ellipsis">
              Updated by - {{item?.updated_by}}
              <!-- {{ item?.date | date : "MMM dd, yyyy" }} -
                    {{
                      item?.date.split("/").reverse().join("-") +
                        "T" +
                        item?.time | date : "hh:mm a"
                    }} -->
            </p>
          </li>
        </ul>
        <div class="footer ps-3 pe-3 text-center">
          <a class="cursor-pointer" (click)="viewAllNotifications()">View all notifications</a>
        </div>
      </div>
      <div class="dropdown profile-wrapper d-flex align-items-center gap-2 btn dropdown-toggle" [ngClass]="{'text-white ps-0 pe-0': isMobile}" id="dropdownMenuButton"
       data-bs-toggle="dropdown"
       aria-expanded="false">
        <span [ngClass]="{'d-none': isMobile}">
          {{ userDetails?.firstName }} {{ userDetails?.lastName }}
        </span>
        <div [ngClass]="{'header-profile-with-image': configurations?.general?.profile_image_url, 'header-profile-image-wrapper': !configurations?.general?.profile_image_url}">
          @if (configurations?.general?.profile_image_url) {
            <img [src]="configurations?.general?.profile_image_url" alt="profile-image">
          }
          @else {
            <i class="bi bi-person-circle" [ngClass]="{'text-primary': !isMobile, 'text-white': isMobile}"></i>
          }
        </div>
      </div>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
    <li class="dropdown-item-text">Hi {{ userDetails?.firstName }} {{ userDetails?.lastName }}</li>
    <li><a class="dropdown-item cursor-pointer" routerLink="/settings">Profile</a></li>
    <li><a class="dropdown-item cursor-pointer" (click)="logout()">Logout</a></li>
  </ul>
    </div>
  </div>
</div>
