<div [ngClass]="{'pr-3 pl-3 header-container': !isMobile, 'mobile-container pe-0 ps-0': isMobile}">
  <div [ngClass]="{'row': !isMobile, 'd-flex justify-content-between align-items-center': isMobile}">
    <ng-content></ng-content>
    <div [ngClass]="{'col-md-8': !isMobile}">
      <div [ngClass]="{'search-wrapper': !isMobile}">
        <input
          type="text"
          class="form-control"
          placeholder="Search Patient/Staff"
        />
      </div>
    </div>
    <div class="d-flex justify-content-end gap-4" [ngClass]="{'col-md-4': !isMobile}">
      <div class="dropdown notofication-wrapper position-relative btn" [ngClass]="{'d-none': isMobile}" id="notificationDropdown"
       data-bs-toggle="dropdown"
       aria-expanded="false">
        <i class="bi bi-bell-fill" [ngClass]="{'text-primary': !isMobile, 'text-white': isMobile}"></i>
        @if (notificationCount) {
        <span class="notificationCount"
          >{{ notificationCount > 9 ? 9 : notificationCount }}
          @if(notificationCount > 9) {
          <span>+</span>
          }
        </span>
        }
      </div>
      <div class="dropdown-menu notification-menu dropdown-menu-end" aria-labelledby="notificationDropdown">
        <h3 class="ps-3 pe-3">Notifications</h3>
        <ul class="notification-body">
          <li class="dropdown-item" *ngFor="let item of notificationList">
            {{item.title}}
            <p class="fw-light">{{item.message}}</p>
          </li>
        </ul>
        <div class="footer ps-3 pe-3">
          <p>View all notifications</p>
        </div>
      </div>
      <div class="dropdown profile-wrapper d-flex align-items-center gap-2 btn dropdown-toggle" [ngClass]="{'text-white ps-0 pe-0': isMobile}" id="dropdownMenuButton"
       data-bs-toggle="dropdown"
       aria-expanded="false">
        <span [ngClass]="{'d-none': isMobile}">
          {{ userDetails?.firstName }} {{ userDetails?.lastName }}
        </span>
        <i class="bi bi-person-circle" [ngClass]="{'text-primary': !isMobile, 'text-white': isMobile}"></i>
      </div>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
    <li class="dropdown-item-text">Hi {{ userDetails?.firstName }} {{ userDetails?.lastName }}</li>
    <li><a class="dropdown-item cursor-pointer">Profile</a></li>
    <li><a class="dropdown-item cursor-pointer" (click)="logout()">Logout</a></li>
  </ul>
    </div>
  </div>
</div>
