.no-record-structure {
    min-height: 300px;
    display: flex;
    flex-direction: column;
}
.no-record-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plan-wrapper {
    padding: 40px 20px;
    height: 100%;
    display: flex;
}
.plan-confirmation i {
    font-size: 92px;
    color: var(--bs-secondary);
}
.plan-body .check-icon {
    color: var(--bs-success);
    margin-right: 8px;
}
.plan-body ul {
    list-style-type: none;
    padding-left: 1em;
}