<!-- Modal -->
 @if (showModal) {
    <div class="modal-backdrop fade show"></div>
     <div class="modal fade show d-block" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
             <div class="modal-content">
                 <div class="modal-header">
                     <h1 class="modal-title fs-5" id="modalLabel">{{title}}</h1>
                     <button type="button" class="btn-close" (click)="close()"></button>
                    </div>
                    <div class="modal-body">
                        <ng-content></ng-content>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" (click)="close()">{{title}}</button>
                    </div>
                </div>
            </div>
        </div>
    }