<!-- <div class="gradient-section">
  <h1>Welcome to Gradient World</h1>
</div> -->

<div class="container-fluid">
    <div class="welcome-wrapper">
        <div class="gradient-section">

            <div class="header-wrapper d-flex justify-content-between align-items-center">
                <div>
                    <a
                    href=""
                    class="logo-wrapper d-flex justify-content-center align-items-center"
                    >
                    <img src="assets/images/logo_mobile.png" class="logo-img" alt="Logo" />
                </a>
            </div>
            <div>
                <button class="btn btn-secondary" routerLink="/auth/login">Get Started</button>
            </div>
        </div>
        <div class="row mb-5 welcome-header">
          <div class="col-md-6">
            <div>
              <p class="platform-heading text-white">
                All-in-one platform for Hospitals, Clinics, and Doctors.
              </p>
              <p>
                Manage appointments, patient history with ease, staff, billing, and
                more
              </p>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-center position-relative">
            <div class="pt-5">

              <div class="modern-iphone-frame">
                <div class="dynamic-island"></div>
                <div class="screen">
                  <img src="../../../../assets/welcome.png" alt="App Screenshot" />
                </div>
                <div class="home-indicator"></div>
              </div>
            </div>


            <div class="all-in-one-platform-image">
              <img src="../../../../assets/welcome.png" alt="" />
            </div>
          </div>
        </div>
    </div>
    <div class="row bg-secondary p-2">
      <div class="col-md-12">
        <div class="get-started-button-wrapper">
          <button
            class="btn btn-primary bg-white text-primary"
            routerLink="/auth/login"
          >
            Get Started
          </button>
        </div>
      </div>
    </div>
    <div class="row primary-section-wrapper mb-5">
      <div class="col-md-6">
        <div class="all-in-one-platform-image primary-section">
          <img src="../../../../assets/welcome.png" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="primary-section">
          <h1>Patients & Prescriptions</h1>
          <p>
            Maintain complete patient history and prescription at one place.
          </p>
        </div>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-6">
        <div class="primary-section">
          <h1>Appointments</h1>
          <p>Easily manage appointments with transaction history.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="all-in-one-platform-image primary-section">
          <img src="../../../../assets/welcome.png" alt="" />
        </div>
      </div>
    </div>
    <div class="row primary-section-wrapper mb-5">
      <div class="col-md-6">
        <div class="all-in-one-platform-image primary-section">
          <img src="../../../../assets/welcome.png" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="primary-section">
          <h1>Staff Management</h1>
          <p>Add staff and manage appointment with limited access.</p>
        </div>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-6">
        <div class="primary-section">
          <h1>Billing</h1>
          <p>Track billing and download report in one click.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="all-in-one-platform-image primary-section">
          <img src="../../../../assets/welcome.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
