<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h3 class="mb-4">Client's List</h3>
      <!-- <app-filter (filterData)="updateRecords($event)"></app-filter> -->
      <div class="card border-0">
        <div class="table-responsive" [ngClass]="{ 'no-record-structure': !clientList.length }">
          <table class="table border mb-0">
            <thead>
              <tr>
                <th scope="col">Client Name</th>
                <th scope="col">Brand Name</th>
                <th scope="col">Subscription Plan</th>
                <th scope="col">Ends On</th>
                <th scope="col">Active/Inactive</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
          @if (clientList.length) {
            <tbody>
              <tr *ngFor="let item of clientList">
                <td>{{ item.firstName }} {{ item.lastName }}</td>
                <td>{{ item.brandName }}</td>
                <td>{{ item.subscription }}</td>
                <td>{{ item.subscription_endDate | date : "MMM dd, yyyy" }}</td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" [(ngModel)]="item.isActive">
                    <!-- <label class="form-check-label" for="flexSwitchCheckChecked">Checked switch checkbox input</label> -->
                    </div>
                </td>
                <td>
                  <a class="cursor-pointer" (click)="showClientDetail(item)"
                  >View/Edit</a
                  >
                </td>
              </tr>
            </tbody>
          }
          </table>
          @if (clientList.length) {
            <mat-paginator
            [length]="paginationConfig.totalRecords"
            [pageSize]="paginationConfig.pageSize"
            [pageSizeOptions]="paginationConfig.pageSizeOptions"
            aria-label="Select page"
            [hidePageSize]="paginationConfig.hidePageSizeOption"
            (page)="handlePageEvent($event)"
            >
            </mat-paginator>
          }
          @if (!clientList.length) {
          <div class="no-record-wrapper border border-top-0">
            <h6>No Client found.</h6>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
