<div class="row mb-3">
    <div class="col-md-2 mb-3">
        <h6>Filter By:</h6>
    </div>
    <div class="col-md-12 mb-3 align-items-end gap-3" [ngClass]="{'d-flex': !isMobile}">
        <div [ngClass]="{'mb-3': isMobile}">
            <input type="text" class="form-control" placeholder="Name/Mobile" [(ngModel)]="text">
        </div>
        <div class="d-flex align-items-end" [ngClass]="{'mb-3': isMobile}">
            <select class="form-select" [(ngModel)]="age">
                <option value="" disabled selected>Age</option>
                <option *ngFor="let item of ageList" value="{{item.value}}">{{item.label}}</option>
            </select>
        </div>
        <div [ngClass]="{'mb-3': isMobile}">
            <mat-form-field class="material-calendar">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate [(ngModel)]="startDate" placeholder="Start date" />
                    <input matEndDate (dateChange)="addEvent($event)" [(ngModel)]="endDate" placeholder="End date" />
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
        </div>
        <!-- <select class="form-select" [(ngModel)]="month">
            <option value="" disabled selected>Month</option>
            <option *ngFor="let item of months" value="{{item}}">{{item}}</option>
        </select> -->

        <div class="d-flex align-items-end gap-2" [ngClass]="{'mb-3': isMobile}">
            <button class="btn btn-primary" type="button" (click)="updateRecords()">Apply</button>
            <button class="btn btn-outline-primary" type="button" (click)="resetRecords()">Reset</button>
        </div>
    </div>
    <!-- <div class="col-md-2 mb-3 d-flex align-items-end">
        <select class="form-select" [(ngModel)]="age">
            <option value="" disabled selected>Age</option>
            <option *ngFor="let item of ageList" value="{{item.value}}">{{item.label}}</option>
        </select>
    </div>
    <div class="col-md-2 mb-3 d-flex align-items-end gap-2">
        <button class="btn btn-primary" type="button" (click)="updateRecords()">Apply</button>
        <button class="btn btn-outline-primary" type="button" (click)="resetRecords()">Clear</button>
    </div> -->
    <!-- <div class="offset-md-2 col-md-2 mb-3">
        <h6>Sort By:</h6>
        <select class="form-select">
            <option value="" disabled selected>Sort By</option>
            <option value="Name">Name</option>
            <option value="Age">Age</option>
        </select>
    </div> -->
</div>