ion-card {
    margin-top: 40px;
}
.logo-text {
    color: var(--ion-color-primary);
}
.logo-text p {
    font-size: 40px;
    font-family: cursive;
    text-transform: uppercase;
}
.leaf-color {
    color: var(--leaf-color);
}