<ion-content class="auth-wrapper">
  <ion-card class="ion-text-center">
    <ion-card-content>
      <form [formGroup]="forgotPasswordForm">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <div class="mobile-logo">
                <ion-img class="logo-img" src="../../../assets/logo_mobile.png"></ion-img>
              </div>
            </ion-col>
            <ion-col class="ion-text-left" size-xs="12" size-sm="12" size-md="6">
              <ion-input type="text" [disabled]="validUsername" formControlName="username" label="Username" labelPlacement="floating"></ion-input>
            </ion-col>
            <ion-col class="ion-text-left" size-xs="12" size-sm="12" size-md="6" *ngIf="validUsername">
              <ion-input type="password" formControlName="newPassword" label="New Password" labelPlacement="floating"></ion-input>
            </ion-col>
            <ion-col class="ion-text-left" size-xs="12" size-sm="12" size-md="6" *ngIf="validUsername">
              <ion-input type="password" formControlName="confirmPassword" label="Confirm Password" labelPlacement="floating"></ion-input>
            </ion-col>
            <ion-col size="12">
              <ion-button *ngIf="!validUsername" (click)="validateUser()">Next</ion-button>
              <ion-button *ngIf="validUsername" [disabled]="!forgotPasswordForm.get('newPassword')!.value || !forgotPasswordForm.get('confirmPassword')!.value" (click)="resetPassword()">Reset Password</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
    
  </ion-card>



  <ion-alert
  [isOpen]="passwordChanged"
  header="Password"
  message="Password has been set successfully!"
  [buttons]="['Ok']" (didDismiss)="resetPasswordPopUpClosed()"
></ion-alert>
</ion-content>