<div class="container-fluid">
  <div class="row login-wrapper">
    @if(!isMobile) {
        <div class="col-md-7">
            <div class="login-wrapper-img">
            </div>
        </div>
    }
    <div class="col-md-5 d-flex justify-content-center align-items-center" [ngClass]="{'login-wrapper-img': isMobile}">
      <form class="login-form p-4" [formGroup]="forgotPasswordForm">
        <div class="app-logo mt-3 mb-3">
          <img src="assets/images/logo_mobile.png" alt="Logo" />
        </div>
        <div class="row">
          <div class="col-md-12 mb-3 text-center">
            <h4>Forgot password?</h4>
          </div>
          <div class="col-md-12 mb-3">
            <input
              type="text"
              [ngClass]="{
                'error-control':
                  formSubmitted && forgotPasswordForm.get('username')?.errors
              }"
              formControlName="username"
              [attr.disabled]="validUsername"
              placeholder="Username"
              class="form-control"
            />
            @if (formSubmitted && forgotPasswordForm.invalid &&
            forgotPasswordForm.touched) { @if
            (forgotPasswordForm.get('username')?.errors?.['required']) {
            <p class="error-text">required</p>
            } }
          </div>
          <div class="col-md-12 mb-3">
            <input
              type="email"
              [ngClass]="{
                'error-control':
                  formSubmitted && forgotPasswordForm.get('email')?.errors
              }"
              formControlName="email"
              [attr.disabled]="validEmail"
              placeholder="Email"
              class="form-control"
            />
            @if (formSubmitted && forgotPasswordForm.invalid &&
            forgotPasswordForm.touched) { @if
            (forgotPasswordForm.get('email')?.errors?.['required']) {
            <p class="error-text">required</p>
            } }
          </div>
          <div class="col-md-12 mb-3" *ngIf="validUsername && validEmail">
            <input
              type="test"
              [ngClass]="{
                'error-control':
                  formSubmitted && forgotPasswordForm.get('otp')?.errors
              }"
              formControlName="otp"
              [attr.disabled]="validOtp"
              placeholder="OTP"
              class="form-control"
            />
            @if (formSubmitted && forgotPasswordForm.invalid &&
            forgotPasswordForm.touched) { @if
            (forgotPasswordForm.get('otp')?.errors?.['required']) {
            <p class="error-text">required</p>
            } }
          </div>
          <div
            class="col-md-12 mb-3"
            *ngIf="validUsername && validEmail && validOtp"
          >
            <input
              type="password"
              [ngClass]="{
                'error-control':
                  formSubmitted && forgotPasswordForm.get('newPassword')?.errors
              }"
              formControlName="newPassword"
              placeholder="Create Password"
              class="form-control"
            />
            @if (formSubmitted && forgotPasswordForm.invalid &&
            forgotPasswordForm.touched) { @if
            (forgotPasswordForm.get('newPassword')?.errors?.['required']) {
            <p class="error-text">required</p>
            } }
          </div>
          <div
            class="col-md-12 mb-3"
            *ngIf="validUsername && validEmail && validOtp"
          >
            <input
              type="password"
              [ngClass]="{
                'error-control':
                  formSubmitted &&
                  forgotPasswordForm.get('confirmPassword')?.errors
              }"
              formControlName="confirmPassword"
              placeholder="Confirm Password"
              class="form-control"
            />
            @if (formSubmitted && forgotPasswordForm.invalid &&
            forgotPasswordForm.touched) { @if
            (forgotPasswordForm.get('confirmPassword')?.errors?.['required']) {
            <p class="error-text">required</p>
            } }
          </div>
          <div class="col-md-12 mb-3 text-end">
            <div class="d-grid gap-3">
              <button
                *ngIf="!validUsername || !validEmail || !validOtp"
                class="btn btn-primary"
                (click)="validateUser()"
              >
                Next
              </button>
              <button
                *ngIf="validUsername && validEmail && validOtp"
                class="btn btn-primary"
                (click)="resetPassword()"
              >
                Reset Password
              </button>
            </div>
          </div>
          <div class="col-md-12 text-end">
            <div class="d-grid gap-3">
              <button
                class="btn btn-outline-secondary"
                (click)="cancel()"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
