<div class="row mb-3">
    <div class="col-12">
        <h6>Filter By:</h6>
    </div>
    <div class="col-md-2 mb-3">
        <input type="text" class="form-control" placeholder="Name/Mobile" [(ngModel)]="text">
    </div>
    <div class="col-md-2 mb-3">
        <select class="form-select" [(ngModel)]="month">
            <option value="" disabled selected>Month</option>
            <option *ngFor="let item of months" value="{{item}}">{{item}}</option>
        </select>
    </div>
    <div class="col-md-2 mb-3">
        <select class="form-select" [(ngModel)]="status">
            <option value="" disabled selected>Status</option>
            <option *ngFor="let item of statuses" value="{{item}}">{{item}}</option>
        </select>
    </div>
    <div class="col-md-2 mb-3 d-flex align-items-end gap-2">
        <button class="btn btn-primary" type="button" (click)="updateRecords()">Apply</button>
        <button class="btn btn-outline-primary" type="button" (click)="resetRecords()">Clear</button>
    </div>
    <!-- <div class="offset-md-2 col-md-2 mb-3">
        <h6>Sort By:</h6>
        <select class="form-select">
            <option value="" disabled selected>Sort By</option>
            <option value="Name">Name</option>
            <option value="Age">Status</option>
        </select>
    </div> -->
</div>