@if (patientAppointmentData) {
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      @if (patientAppointmentData.firstName) {
      <h3 class="mb-4">
        {{ patientAppointmentData.firstName }}
        {{ patientAppointmentData.lastName }}'s Appointment
        @if(!editAppointmentDetails && (patientAppointmentData.status == 0 ||
        patientAppointmentData.status == 2)) {
        <a type="button" (click)="editBasicDetails()" class="fs-6"
          >Edit <i class="bi bi-pencil-square"></i
        ></a>
        }
      </h3>
      }
    </div>
  </div>
  <form [formGroup]="appointmentForm">
    @if (!editAppointmentDetails) {
    <ng-container>
      <div class="row">
        <div class="col-12 mb-3">
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td class="fw-bold">Patient Name</td>
                  <td>
                    {{ patientAppointmentData.firstName }}
                    {{ patientAppointmentData.lastName }}
                  </td>
                </tr>
                <tr>
                  <td class="fw-bold">Age</td>
                  <td>{{ patientAppointmentData.age ?? "N/A" }}</td>
                </tr>
                <tr>
                  <td class="fw-bold">Mobile</td>
                  <td>{{ patientAppointmentData.mobile }}</td>
                </tr>
                <tr>
                  <td class="fw-bold">Gender</td>
                  <td>{{ patientAppointmentData.gender ?? "N/A" }}</td>
                </tr>
                <tr>
                  <td class="fw-bold">Address</td>
                  <td>{{ patientAppointmentData.address ?? "N/A" }}</td>
                </tr>
                <!-- <tr>
                    <td class="fw-bold">Current Visit</td>
                    <td>{{ patientAppointmentData.currentVisit ? patientAppointmentData.currentVisit : 'N/A' }} 
                    </td>
                  </tr> -->
                <tr>
                  <td class="fw-bold">Last Visit</td>
                  <td>
                    {{
                      patientAppointmentData.lastVisit
                        ? (patientAppointmentData.lastVisit
                          | date : "MMM dd, yyyy")
                        : "N/A"
                    }}
                    @if(patientAppointmentData.lastVisit) {
                    <span
                      class="badge text-bg-info cursor-pointer"
                      (click)="seePatientHistory()"
                      >See History</span
                    >
                    }
                  </td>
                </tr>
                <tr>
                  <td class="fw-bold">Payment Status</td>
                  <td>
                    <div class="d-flex align-items-center gap-1">
                      <span
                      class="badge rounded-pill"
                      [ngClass]="{
                        'text-bg-success': patientAppointmentData?.paymentStatus,
                        'text-bg-danger': patientAppointmentData?.paymentStatus && patientAppointmentData?.paymentStatus == 2,
                        'text-bg-warning': !patientAppointmentData?.paymentStatus
                      }"
                      >{{
                        patientAppointmentData?.paymentStatus
                        ? "Paid"
                        : "Unpaid"
                      }}</span>
                       @if (patientAppointmentData?.paymentStatus && patientAppointmentData?.consolidatedPaymentDetails?.length) {
                        <i class="bi bi-info-circle" appBootstrapTooltip></i>
                        <!-- Tooltip content just after the button -->
                        <div class="tooltip-content" hidden>
                          <div *ngFor="let data of patientAppointmentData?.consolidatedPaymentDetails">
                            <strong>{{ data?.type }}: </strong>{{ data?.amount }}
                          </div>
                        </div>
                      }
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="fw-bold">Blood Group</td>
                  <td>{{ patientAppointmentData.bloodGroup ?? "N/A" }}</td>
                </tr>
                <tr>
                  <td class="fw-bold">Weight</td>
                  <td>{{ patientAppointmentData.weight ?? "N/A" }}</td>
                </tr>
                <tr>
                  <td class="fw-bold">Temperature</td>
                  <td>
                    @if(patientAppointmentData.temperature) {
                    {{ patientAppointmentData.temperature }} &#176;<span>{{
                      patientAppointmentData.temperatureType == "celsius"
                        ? "C"
                        : "F"
                    }}</span>
                    } @else { N/A }
                  </td>
                </tr>
                <tr>
                  <td class="fw-bold">Blood Pressure</td>
                  <td>
                    @if(patientAppointmentData.bloodPressureUpper &&
                    patientAppointmentData.bloodPressureLower) {
                    {{ patientAppointmentData.bloodPressureUpper }} /
                    {{ patientAppointmentData.bloodPressureLower }}
                    } @else { N/A }
                  </td>
                </tr>
                @if (patientAppointmentData.status == 1) {
                <tr>
                  <td class="fw-bold">Analysis/Disease/Problem</td>
                  <td>
                    {{ patientAppointmentData.analysis ?? "N/A" }}
                  </td>
                </tr>
                <tr>
                  <td class="fw-bold">Advice</td>
                  <td>
                    {{ patientAppointmentData.advice ?? "N/A" }}
                  </td>
                </tr>
                <tr>
                  <td class="fw-bold">Tests Prescribed</td>
                  <td>
                    {{ patientAppointmentData.tests ?? "N/A" }}
                  </td>
                </tr>
                <tr>
                  <td class="fw-bold">Follow Up Visit</td>
                  <td>
                    {{ patientAppointmentData.followUpVisit ?? "N/A" }}
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
        @if ((userDetails?.role == 'doctor' || userDetails?.role == 'admin' || userDetails?.role === 'owner') &&
        (patientAppointmentData.status == 0 || patientAppointmentData.status ==
        2)) {
        <div class="col-md-4 mb-3">
          <h4>Analysis/Disease/Problem</h4>
          <textarea
            class="form-control"
            rows="5"
            placeholder="Enter here"
            formControlName="analysis"
          ></textarea>
        </div>
        <div class="col-md-4 mb-3">
          <h4>Advice</h4>
          <textarea
            class="form-control"
            rows="5"
            placeholder="Enter here"
            formControlName="advice"
          ></textarea>
        </div>
        <div class="col-md-4 mb-3">
          <h4>Tests Prescribed</h4>
          <textarea
            class="form-control"
            rows="5"
            placeholder="Enter here"
            formControlName="tests"
          ></textarea>
        </div>
        }
      </div>
      @if ((userDetails?.role == 'doctor' || userDetails?.role == 'admin' || userDetails?.role === 'owner') &&
      (patientAppointmentData.status == 0 || patientAppointmentData.status ==
      2)) {
      <ng-container formArrayName="medicationDetails">
        <div class="row">
          <div class="col-md-12 mb-3">
            <h4>
              Medication -
              <button
                class="btn btn-primary"
                type="button"
                (click)="addMedicine()"
              >
                <i class="bi bi-plus-square"></i> Add Another
              </button>
            </h4>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead class="table-light">
                  <tr>
                    <th>Medicine</th>
                    <th>Type</th>
                    <th>Count</th>
                    <th>Dosage</th>
                    <th>Timing</th>
                    <th>Duration</th>
                    <th>Notes</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let item of medicationDetails.controls;
                      let i = index
                    "
                    [formGroupName]="i"
                  >
                    <td>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Medicine/Syrup"
                        formControlName="medicine"
                      />
                    </td>
                    <td>
                      <select formControlName="type" class="form-select">
                        <option value="tablet">Tablet</option>
                        <option value="syrup">Syrup</option>
                      </select>
                    </td>
                    <td>
                      @if(item.get('type')?.value === 'tablet') {
                      <select formControlName="count" class="form-select">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                      </select>
                      } @if(item.get('type')?.value === 'syrup') {
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Quantity"
                        formControlName="count"
                      />
                      }
                    </td>
                    <td>
                      <div class="d-flex align-items-center gap-2">
                        <input
                          class="form-check-input fs-5"
                          type="checkbox"
                          id="inlineCheckbox1"
                          formControlName="morning"
                        />
                        <label class="form-check-label" for="inlineCheckbox1"
                          >Morning</label
                        >
                      </div>
                      <div class="d-flex align-items-center gap-2">
                        <input
                          class="form-check-input fs-5"
                          type="checkbox"
                          id="inlineCheckbox2"
                          formControlName="afternoon"
                        />
                        <label class="form-check-label" for="inlineCheckbox2"
                          >Afternoon</label
                        >
                      </div>
                      <div class="d-flex align-items-center gap-2">
                        <input
                          class="form-check-input fs-5"
                          type="checkbox"
                          id="inlineCheckbox3"
                          formControlName="night"
                        />
                        <label class="form-check-label" for="inlineCheckbox3"
                          >Night</label
                        >
                      </div>
                    </td>
                    <td>
                      <select formControlName="beforeMeal" class="form-select">
                        <option value="true">Before food</option>
                        <option value="false">After food</option>
                      </select>
                    </td>
                    <td>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Duration"
                        formControlName="duration"
                      />
                    </td>
                    <td>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Notes"
                        formControlName="notes"
                      />
                    </td>
                    <td>
                      <button
                        class="btn btn-danger"
                        type="button"
                        (click)="removeMedicine(i)"
                      >
                        <i class="bi bi-x-square"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </ng-container>
      } @if(patientAppointmentData.status == 1) {
      <div class="row">
        <div class="col-md-12 mb-3">
          <h4>Medication</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead class="table-light">
                <tr>
                  <th>Medicine</th>
                  <th>Type</th>
                  <th>Count</th>
                  <th>Dosage</th>
                  <th>Timing</th>
                  <th>Duration</th>
                  <th>Notes</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let item of patientAppointmentData.medicationDetails"
                >
                  <td>{{ item.medicine }}</td>
                  <td>{{ item.type }}</td>
                  <td>{{ item.count }}</td>
                  <td>
                    @if (item.morning) {
                    <p class="mb-0">Morning</p>
                    } @if (item.afternoon) {
                    <p class="mb-0">Afternoon</p>
                    } @if (item.night) {
                    <p class="mb-0">Night</p>
                    }
                  </td>
                  <td>{{ item.beforeMeal ? "Before Meal" : "After Meal" }}</td>
                  <td>{{ item.duration }}</td>
                  <td>{{ item.notes }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      }
      <div class="row">
        @if ((userDetails?.role == 'doctor' || userDetails?.role == 'admin' || userDetails?.role === 'owner') &&
        (patientAppointmentData.status == 0 || patientAppointmentData.status ==
        2)) {
        <div class="col-md-4 d-flex align-items-center gap-2">
          <h6 class="w-50">Follow Up Visit</h6>
          <input
            type="text"
            class="form-control"
            placeholder="Follow up"
            formControlName="followUpVisit"
          />
        </div>
        }
        <div
          class="col-md-12 mt-5 d-flex justify-content-between align-items-center"
        >
          <div class="d-flex gap-2">
            @if (!showPrintAndPaymentOption && (patientAppointmentData.status ==
            0 || patientAppointmentData.status == 2) && (userDetails?.role == 'doctor' || userDetails?.role ==
            'admin' || userDetails?.role === 'owner')) {
            <button
              type="button"
              class="btn btn-primary"
              (click)="submitAppointment()"
            >
              Submit
            </button>
            } @if (showPrintAndPaymentOption || patientAppointmentData.status ==
            1) {
            <button
              type="button"
              class="btn btn-primary"
              (click)="completePayment()"
            >
              Complete Payment
            </button>
            }
            <button
              type="button"
              class="btn btn-outline-primary"
              (click)="cancel()"
            >
              Cancel
            </button>
          </div>
          @if (showPrintAndPaymentOption || patientAppointmentData.status == 1)
          {
          <button type="button" class="btn btn-primary" (click)="print()">
            Print
          </button>
          }
        </div>
      </div>
    </ng-container>
    } @if (editAppointmentDetails) {
    <div class="row">
      <div class="col-md-6 mb-4">
        <input
          type="text"
          class="form-control"
          placeholder="First Name"
          formControlName="firstName" [ngClass]="{'error-control': formSubmitted && appointmentForm.get('firstName')?.errors}"
        />
        @if (formSubmitted && appointmentForm.invalid && appointmentForm.touched) {
              @if (appointmentForm.get('firstName')?.errors?.['required']) {
                  <p class="error-text">required</p>
              }
          }
      </div>
      <div class="col-md-6 mb-4">
        <input
          type="text"
          class="form-control"
          placeholder="Last Name"
          formControlName="lastName"
        />
      </div>
      <div class="col-md-6 mb-4">
        <input
          type="text"
          class="form-control"
          placeholder="Age"
          formControlName="age"
        />
      </div>
      <div class="col-md-6 mb-4">
        <input
          type="text"
          class="form-control"
          placeholder="Mobile"
          formControlName="mobile" [ngClass]="{'error-control': formSubmitted && appointmentForm.get('mobile')?.errors}"
        />
        @if (formSubmitted && appointmentForm.invalid && appointmentForm.touched) {
            @if (appointmentForm.get('mobile')?.errors?.['required']) {
                <p class="error-text">required</p>
            }
            @if (appointmentForm.get('mobile')?.errors?.['minlength']) {
                <p class="error-text">required minimum length is 5</p>
            }
            @if (appointmentForm.get('mobile')?.errors?.['pattern']) {
                <p class="error-text">invalid mobile number</p>
            }
        }
      </div>
      <div class="col-md-6 mb-4">
        <select class="form-select" formControlName="gender">
          <option value="" disabled selected>Gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>
      <div class="col-md-6 mb-4">
        <input
          type="text"
          class="form-control"
          placeholder="Address"
          formControlName="address"
        />
      </div>
      <div class="col-md-6 mb-4">
        <input
          type="text"
          class="form-control"
          placeholder="Blood Group"
          formControlName="bloodGroup"
        />
      </div>
      <div class="col-md-6 mb-4">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Weight"
            formControlName="weight"
          />
          <div class="btn-group input-group-text p-0" role="group">
            <input
              type="radio"
              class="btn-check"
              name="kgs"
              id="kgs"
              autocomplete="off"
              checked
            />
            <label class="btn btn-outline-primary" for="kgs">Kgs</label>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="d-flex justify-content-between align-items-center gap-2">
          <input
            type="text"
            class="form-control"
            placeholder="Blood Pressure - Upper"
            formControlName="bloodPressureUpper"
          />
          <span>/</span>
          <input
            type="text"
            class="form-control"
            placeholder="Blood Pressure - Lower"
            formControlName="bloodPressureLower"
          />
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Temperature"
            formControlName="temperature"
          />
          <div class="btn-group input-group-text p-0" role="group">
            <input
              type="radio"
              class="btn-check"
              id="btnradio1"
              autocomplete="off" formControlName="temperatureType" value="celsius"
              checked
            />
            <label class="btn btn-outline-primary" for="btnradio1"
              >&#176;C</label
            >

            <input
              type="radio"
              class="btn-check"
              id="btnradio2"
              autocomplete="off" formControlName="temperatureType" value="fahrenheit"
            />
            <label class="btn btn-outline-primary" for="btnradio2"
              >&#176;F</label
            >
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-4">
          <div class="appointment-date-wrapper rounded" [ngClass]="{'error-control': formSubmitted && appointmentForm.get('date')?.errors}">
            <mat-form-field class="material-calendar">
              <input matInput formControlName="date" (dateChange)="addEvent($event)" [min]="todayDate" [matDatepicker]="dp3" readonly placeholder="Select Date" (click)="dp3.open()">
              <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
              <mat-datepicker #dp3></mat-datepicker>
            </mat-form-field>
          </div>
          @if (formSubmitted && appointmentForm.invalid && appointmentForm.touched) {
              @if (appointmentForm.get('date')?.errors?.['required']) {
                  <p class="error-text">required</p>
              }
          }
        </div>
        @if (appointmentForm.get('date')?.value) {
          <div class="col-md-6 mb-4">
            <div class="appointment-date-wrapper rounded" [ngClass]="{'error-control': formSubmitted && appointmentForm.get('time')?.errors}">
              <select class="form-select" formControlName="time">
                <option value="" disabled selected>Select Time</option>
                <option [value]="item.time" *ngFor="let item of timeOptions"[disabled]="item.disabled" [ngStyle]="{ color: item.disabled ? 'red' : null, lineHeight: '2.2', paddingLeft: '8px'}">{{item.time}}{{ item.disabled ? ' - (Already Booked)' : '' }}</option>
              </select>
              <!-- <mat-form-field class="material-calendar">
                <input matInput [matTimepicker]="picker" formControlName="time" readonly placeholder="Select Time">
                <mat-timepicker-toggle matIconSuffix [for]="picker"/>
                <mat-timepicker interval="15min" #picker />
              </mat-form-field> -->
            </div>
            @if (formSubmitted && appointmentForm.invalid && appointmentForm.touched) {
                @if (appointmentForm.get('time')?.errors?.['required']) {
                    <p class="error-text">required</p>
                }
            }
          </div>
        }

      <div class="col-12">
        <div class="d-flex gap-2">
          <button
            type="button"
            class="btn btn-primary"
            (click)="submitAppointmentDetails()"
          >
            Submit
          </button>
          <button
            type="button"
            class="btn btn-outline-primary"
            (click)="cancelAppointmentDetails()"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
    }
  </form>
</div>
}

<!-- Modal -->
<app-modal
  [title]="'Select Payment Method'"
  [showModal]="showModal"
  (closeModal)="closeModal($event)"
  [buttonText]="'Complete Payment'" (success)="successEvent($event)"
>
  <div class="action-type-wrapper mb-4">
    <div
      class="btn-group form-control p-0"
      role="group"
      aria-label="Basic radio toggle button group"
    >
      <input
        type="radio"
        class="btn-check"
        [(ngModel)]="paymentType"
        id="btnradio1"
        autocomplete="off"
        [value]="'cash'"
      />
      <label class="btn btn-outline-primary" for="btnradio1">Cash</label>

      <input
        type="radio"
        class="btn-check"
        [(ngModel)]="paymentType"
        id="btnradio2"
        autocomplete="off"
        [value]="'upi'"
      />
      <label class="btn btn-outline-primary" for="btnradio2">UPI/QR</label>

      <input
        type="radio"
        class="btn-check"
        [(ngModel)]="paymentType"
        id="btnradio3"
        autocomplete="off"
        [value]="'card'"
      />
      <label class="btn btn-outline-primary" for="btnradio3">Card</label>
    </div>
  </div>
  <div class="action-body">
    @if(paymentType === 'cash' || paymentType === 'card') {
    <input
      type="text"
      class="form-control mb-3"
      placeholder="Enter amount"
      [(ngModel)]="amount"
    />
    } @if(paymentType === 'upi') { @if (!upiId) {
    <div class="alert alert-info" role="alert">
      <strong>Note</strong>: To receive payments via UPI, please go to settings
      or click <a routerLink="/settings">here</a> and provide billing details.
    </div>
    } @else { @if(!showQR) {
    <input
      type="text"
      class="form-control mb-3"
      placeholder="Enter amount"
      [(ngModel)]="amount"
    />
    <button class="btn btn-primary" (click)="generateQR()">Generate QR</button>
    } @if (showQR) {
    <div class="qr-section text-center mb-4">
      <qrcode [qrdata]="qrData" [width]="200" [errorCorrectionLevel]="'M'">
      </qrcode>
    </div>
    } } }
  </div>
</app-modal>

<div class="container d-none" #printData>
  <table>
    <tbody>
      <tr>
        <td>Patient Name</td>
        <td>:</td>
        <td>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ patientAppointmentData?.firstName }}
          {{ patientAppointmentData?.lastName }}
        </td>
      </tr>
      @if (patientAppointmentData?.age) {
      <tr>
        <td>Age</td>
        <TD>:</TD>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ patientAppointmentData?.age }}</td>
      </tr>
      }
      <tr>
        <td>Mobile</td>
        <TD>:</TD>
        <td>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ patientAppointmentData?.mobile }}
        </td>
      </tr>
      <tr>
        <td>Date & Time</td>
        <TD>:</TD>
        <td>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ patientAppointmentData?.lastVisit }}
        </td>
      </tr>
    </tbody>
  </table>
  <hr />
  <div
    style="display: flex; justify-content: space-between; align-items: center"
  >
    <table>
      <tbody>
        @if (patientAppointmentData?.analysis) {
        <tr>
          <td>Complaints</td>
          <TD>:</TD>
          <td>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ patientAppointmentData?.analysis }}
          </td>
        </tr>
        } @if (patientAppointmentData?.advice) {
        <tr>
          <td>Advice</td>
          <td>:</td>
          <td>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ patientAppointmentData?.advice }}
          </td>
        </tr>
        } @if (patientAppointmentData?.tests) {
        <tr>
          <td>Tests Required</td>
          <TD>:</TD>
          <td>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ patientAppointmentData?.tests }}
          </td>
        </tr>
        } @if (patientAppointmentData?.followUpVisit) {
        <tr>
          <td>follow Up</td>
          <TD>:</TD>
          <td>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{
              patientAppointmentData?.followUpVisit
            }}
          </td>
        </tr>
        }
      </tbody>
    </table>
    <table>
      <tbody>
        @if (patientAppointmentData?.bloodGroup) {
        <tr>
          <td>Blood Group</td>
          <TD>:</TD>
          <td>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{
              patientAppointmentData?.bloodGroup
            }}
          </td>
        </tr>
        } @if (patientAppointmentData?.weight) {
        <tr>
          <td>Weight</td>
          <td>:</td>
          <td>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ patientAppointmentData?.weight }}
          </td>
        </tr>
        } @if (patientAppointmentData?.temperature) {
        <tr>
          <td>Temperature</td>
          <TD>:</TD>
          <td>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{
              patientAppointmentData?.temperature
            }}
            &#176;<span>{{
              patientAppointmentData.temperatureType == "celsius" ? "C" : "F"
            }}</span>
          </td>
        </tr>
        } @if (patientAppointmentData?.bloodPressureUpper) {
        <tr>
          <td>Blood Pressure</td>
          <TD>:</TD>
          <td>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{
              patientAppointmentData.bloodPressureUpper
            }}
            / {{ patientAppointmentData.bloodPressureLower }}
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <hr />
  <div class="table-responsive" style="margin-top: 2rem">
    <table
      class="table table-bordered"
      style="width: 100%; border: 1px solid black; border-collapse: collapse"
    >
      <thead class="table-light">
        <tr>
          <th style="border: 1px solid black; padding: 8px">Medicine</th>
          <th style="border: 1px solid black; padding: 8px">Type</th>
          <th style="border: 1px solid black; padding: 8px">Count</th>
          <th style="border: 1px solid black; padding: 8px">Dosage</th>
          <th style="border: 1px solid black; padding: 8px">Timing</th>
          <th style="border: 1px solid black; padding: 8px">Duration</th>
          <th style="border: 1px solid black; padding: 8px">Notes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of patientAppointmentData.medicationDetails">
          <td style="border: 1px solid black; padding: 8px">
            {{ item.medicine }}
          </td>
          <td style="border: 1px solid black; padding: 8px">{{ item.type }}</td>
          <td style="border: 1px solid black; padding: 8px">
            {{ item.count }}
          </td>
          <td style="border: 1px solid black; padding: 8px">
            @if (item.morning) {
              <p style="margin-bottom: 0px;">Morning</p>
            }
            @if (item.afternoon) {
              <p style="margin-bottom: 0px;">Afternoon</p>
            }
            @if (item.night) {
              <p style="margin-bottom: 0px;">Night</p>
            }
          </td>
          <td style="border: 1px solid black; padding: 8px">
            {{ item.beforeMeal ? "Before Meal" : "After Meal" }}
          </td>
          <td style="border: 1px solid black; padding: 8px">
            {{ item.duration }}
          </td>
          <td style="border: 1px solid black; padding: 8px">
            {{ item.notes }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
