<div class="row">
  <div class="col-12">
    <!-- <app-filter (filterData)="updateRecords($event)"></app-filter> -->
    <div class="card border-0">
      <div
        class="table-responsive"
        [ngClass]="{ 'no-record-structure': !staffList.length }"
      >
        <table class="table border mb-0">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Role</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
              <!-- <th scope="col">Status</th> -->
              <th scope="col">Action</th>
            </tr>
          </thead>
          @if (staffList.length) {
          <tbody>
            <tr *ngFor="let item of staffList">
              <td>{{ item.firstName }} {{ item.lastName }}</td>
              <td>{{ item.role }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.mobile }}</td>
              <!-- <td>{{ item.status }}</td> -->
              <td>
                <div class="d-flex align-items-center gap-2">
                  <a class="cursor-pointer" (click)="viewOrEditStaff(item)">
                    View/Edit
                  </a>
                  <a class="cursor-pointer" (click)="deleteStaff(item)">
                    Delete
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
          }
        </table>
        @if (staffList.length) {
        <!-- <mat-paginator
            [length]="paginationConfig.totalRecords"
            [pageSize]="paginationConfig.pageSize"
            [pageSizeOptions]="paginationConfig.pageSizeOptions"
            aria-label="Select page"
            [hidePageSize]="paginationConfig.hidePageSizeOption"
            (page)="handlePageEvent($event)"
            >
            </mat-paginator> -->
        } @if (!staffList.length) {
        <div class="no-record-wrapper border border-top-0">
          <h6>No staff found. Please add one</h6>
        </div>
        }
      </div>
    </div>
  </div>
</div>
